@{
    ViewBag.Title = "Home Page";
}
@for (var i = 1; i <= 5; i++)
{



    <div class="row gallery sortable-layout">
        <!-- Start .row -->
        <div class="col-md-3 col-xs-12">














            <div class="panel panel-default plain panelMove">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Yachts</strong>
                        <small>other desciption</small>
                    </h4>
                    <div class="btn-group" role="group">
                        <div class="checkbox-custom ml15">
                            <input class="check" type="checkbox" value="option" id="checkbox1">
                            <label for="checkbox1"></label>
                        </div>
                        <a href="#" class="btn btn-default btn-link btn-sm" data-toggle="modal" data-target="#edit-image">
                            <i class="fa fa-pencil mr5"></i>Edit
                        </a>
                        <a href="#" class="btn btn-default btn-link btn-sm delete-image"><i class="fa fa-trash-o mr5"></i>Delete</a>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="img/gallery/1.jpg" data-toggle="lightbox" data-gallery="gallerymode" data-title="Yachts" data-parrent>
                        <img class="img-responsive" src="~/Content/img/gallery/1.jpg" alt="image alt">
                    </a>
                </div>
            </div>
            </div>
        </div>
            }
