

@foreach (var item in ViewBag.x)
{
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h2>@item.name</h2>

                <p>@item.type</p>
            </div>
            
            <a href="#" class="small-box-footer">
                @Html.ActionLink("More Info", "Details", new { id = item.id }) |

            </a>
        </div>
    </div>
                    }



